*{
    margin: 0;
    padding: 0;
}
body{
    color: #3a3938;
    /* color: #fcf3a4; */
}
#container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
canvas{
    display: block;
    opacity: 0.1;
}
.cover{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 140px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
}
div{
    height: 100vh;
    width: 100%;
    background-color: transparent;
}
.toggle{
    color: #ffffff;
    background-color: #eea45a;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
}